<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Jogador</title>
  <meta name= "viewport" content= "width=device-width, initial-scale=1" >
  <meta charset="UTF-8">
  <link rel= "stylesheet"
        href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class = "container" >
<h1>Listagem de Jogadores</h1>

<table class = "table">
  <thead>
  <tr>
    <!--<th>ID</th>-->
    <th>Nome</th>
    <th>Posição</th>
    <th>Habilidade</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <!-- Loop para exibir os jogadores -->
  <tr th:each="jogador : ${jogadores}">
    <!--<<td th:text="${jogador.id}"></td>-->
    <td th:text="${jogador.nome}"></td>
    <td th:text="${jogador.posicao}"></td>
    <td th:text="${jogador.nivelHabilidade}"></td>
    <td>
      <a th:href="@{/jogador/atualizar/{id}(id=${jogador.id})}" class="btn btn-primary">Editar</a>
      <a th:href="@{/jogador/apagar/{id}(id=${jogador.id})}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir o jogador?')">Excluir</a>
    </td>
  </tr>
  </tbody>
</table>
<br>

  <h2>Cadastrar Jogador</h2>

  <div class="form-container">
    <form method="POST" action="/jogador/criar" class="form">
    <!--<form th:action="@{/jogador/criar}" method="POST" class="form">
      <input type="hidden" name="id" th:value="${jogador.id}"> -->


      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
      </div>

      <div class="form-group">
        <label for="posicao">Posição:</label>
        <input type="text" id="posicao" name="posicao" required>
      </div>

      <div class="form-group">
        <label for="nivelHabilidade">Habilidade:</label>
        <input type="text" id="nivelHabilidade" name="nivelHabilidade" required>
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>

<script
        src= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>
</div>
</body>
</html>
